<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplikacja.projektzespokowy2019">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/silownia2"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBRRlX21kAekHDinf0Hq81QMFrNCpCWlNo" />

        <activity
            android:name=".PanelMenuActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".PanelLogowaniaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PanelRejestracjiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PanelInfoOUzytkownikuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>